// Copy this file to secrets.h and fill with your private WiFi credentials.
// Do NOT commit the copied file (secrets/secrets.h) to version control.

#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
const char* WIFI_SSID = "YOUR_SSID";
const char* WIFI_PASSWORD = "YOUR_PASSWORD";

#endif // SECRETS_H
